*.su
*.cmd
*.o
*.map
*.bin
spl/u-boot-spl
u-boot
u-boot.img
spl/u-boot-spl.lds
u-boot.srec
include/generated/
u-boot.lds
spl/arch/
lib/asm-offsets.s
arch/arm/lib/asm-offsets.s
arch/arm/lib/lib.a
include/config/
include/spl-autoconf.mk
